<nav id="leftMenu" class="navbar-default navbar-static-side" role="navigation">

    <div class="sidebar-collapse" style="height:100%!important;">
        <ul class="nav metismenu" id="side-menu">

        </ul>

        <div class="fixedLogo" style="display:none!important;">
            <img src="~/Content/patterns/optimumtech.png" style="width:auto; height:100%" />
        </div>
    </div>


</nav>

